/* .neon {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px#1EBAED,
      0 0 82px#1EBAED, 0 0 92px#1EBAED, 0 0 102px#1EBAED, 0 0 151px #1EBAED;

    font-size: 100px;
    text-align: center;
    margin-top: 10%;
    
  } */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html,
body {
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

body {
  background: #030321;
  font-family: Arial;
}

<<<<<<< HEAD
=======
/* .container {
  display: flex;
/*   border:1px solid red; */
/* height: 100%;
  align-items: center;
  margin-top: 8%;
} */
>>>>>>> a1d956cc00fc01266d73e3fe1ead093db45d7f7c

#Logo {
  display: block;
  font: 10.5em "Montserrat";
  width: 1000px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #1ebaed;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #1ebaed;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #1ebaed;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #1ebaed;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
